# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
circular-deps.txt

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

test-results/
playwright-report/

__pycache__/

# Sensitive Data
data_analysis/data/real_world_data/*
data_analysis/notebooks/jcc2_application_section_detailed.csv
data_analysis/notebooks/jcc2_application_section_matrix.csv
data_analysis/jcc2_application_section_detailed.csv
data_analysis/jcc2_application_section_matrix.csv
data_analysis/jcc2_matrix_analysis_output/*
